<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MPack" version="2.1.1" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="SixLabors.ImageSharp" version="2.1.8" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.3" manuallyInstalled="true" />
  <package id="UMAP" version="1.0.34015" manuallyInstalled="true" />
</packages>